{% extends "dash.html" %}
{% block content %}
{% load static %}

 <div id="wrapper">
	<div class="card card-authentication1 mx-auto my-4">
		<div class="card-body">
		 <div class="card-content p-2">
		 	<div class="text-center">
		 		<img src="{% static 'images/logo-icon.png' %}" alt="logo icon">
		 	</div>
		  <div class="card-title text-uppercase text-center py-3">Sign Up</div>
      {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <p class="alert alert-danger"> {{ error }} </p>
          {% endfor %}
      {% endfor %}
  {% endif %}
		    <form method='POST'>
          {% csrf_token %}
              <p>{{ form.first_name.label_tag }}</p>
              <p>{{ form.first_name }}</p>
                <p>{{ form.email.label_tag }}</p>
                <p>{{ form.email }}</p>
              <p>{{ form.username.label_tag }}</p>
              <p>{{ form.username }}</p>
              <p>{{ form.password1.label_tag }}</p>
              <p>{{ form.password1 }}</p>
              <p>{{ form.password2.label_tag }}</p>
              <p>{{ form.password2 }}</p>
			   <div class="form-group">
			     <div class="icheck-material-white">
                   <input type="checkbox" id="user-checkbox" checked="" />
                   <label for="user-checkbox">I Agree With Terms & Conditions</label>
			     </div>
			    </div>
			  
			 <button  class="btn btn-light btn-block waves-effect waves-light">Sign Up</button>
			  <div class="text-center mt-3">Sign Up With</div>
			  
			 <div class="form-row mt-4">
			  <div class="form-group mb-0 col-6">
			   <button type="button" class="btn btn-light btn-block"><i class="fa fa-facebook-square"></i> Facebook</button>
			 </div>
			 <div class="form-group mb-0 col-6 text-right">
			  <button type="button" class="btn btn-light btn-block"><i class="fa fa-twitter-square"></i> Twitter</button>
			 </div>
			</div>
			
			 </form>
		   </div>
		  </div>
		  <div class="card-footer text-center py-3">
		    <p class="text-warning mb-0">Already have an account? <a href="login.html"> Sign In here</a></p>
		  </div>
	     </div>
      </div>

    {% endblock content %}
